@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
:root {
  --dark-color: #000000;
  --white-color: #ffffff;
  --bg-color: #ed7b49;
  --green-color: #72a080;
}

.menu__item a {
  color: var(--dark-color);
  font-weight: 400;
  line-height: 58.3333333333%;
  font-family: Roboto;
}

.wildWay__title p, .blocktext__text {
  color: var(--dark-color);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.blocktext__title h2, .hero__title {
  color: var(--dark-color);
  font-family: Roboto;
  font-size: 85px;
  font-weight: 400;
  line-height: 93.5px;
}

.slider__title {
  color: var(--dark-color);
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 42.12px;
  text-align: left;
}

.slider__price {
  color: var(--dark-color);
  font-family: Roboto;
  font-size: 21px;
  font-weight: 400;
  line-height: 31.5px;
}

.top-header {
  height: 46px;
  width: 100%;
  background-color: var(--dark-color);
}

.runnig-text {
  color: var(--white-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  padding: 11px 0;
}

.header {
  position: relative;
  background-image: url("../../assets/image/Main/Main-page.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
}

.header__content {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-left: -6%;
}

.header__ls, .header__rs {
  display: flex;
  flex: 1 1 415px;
  padding: 30px 26px 33px 16px;
}

.header__rs {
  flex: 0 1 325px;
  justify-content: flex-end;
}

.menu {
  display: flex;
  gap: 42px;
}

.menu__item a {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  line-height: 1;
}

.item__link {
  position: relative;
}

.item__link::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -10px;
  display: block;
  width: 100%;
  height: 3px;
  background: #000;
}

.item__link::after {
  width: 0;
  transition: 0.5s;
}

.item__link:hover:after {
  width: 100%;
}

.logo-image {
  position: absolute;
  top: 31px;
  left: 46%;
}

:root {
  --dark-color: #000000;
  --white-color: #ffffff;
  --bg-color: #ed7b49;
  --green-color: #72a080;
}

.menu__item a {
  color: var(--dark-color);
  font-weight: 400;
  line-height: 58.3333333333%;
  font-family: Roboto;
}

.wildWay__title p, .blocktext__text {
  color: var(--dark-color);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.blocktext__title h2, .hero__title {
  color: var(--dark-color);
  font-family: Roboto;
  font-size: 85px;
  font-weight: 400;
  line-height: 93.5px;
}

.slider__title {
  color: var(--dark-color);
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 42.12px;
  text-align: left;
}

.slider__price {
  color: var(--dark-color);
  font-family: Roboto;
  font-size: 21px;
  font-weight: 400;
  line-height: 31.5px;
}

.hero {
  display: flex;
  justify-content: center;
  margin-top: 14vh;
}

.hero__button {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 60px;
  left: -10px;
  background-image: url("../../assets/image/Main/button.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 80px;
  cursor: pointer;
  animation: slideUp 0.7s infinite alternate linear;
}

@keyframes slideUp {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(0px, 10px);
  }
}
:root {
  --dark-color: #000000;
  --white-color: #ffffff;
  --bg-color: #ed7b49;
  --green-color: #72a080;
}

.menu__item a {
  color: var(--dark-color);
  font-weight: 400;
  line-height: 58.3333333333%;
  font-family: Roboto;
}

.wildWay__title p, .blocktext__text {
  color: var(--dark-color);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.blocktext__title h2, .hero__title {
  color: var(--dark-color);
  font-family: Roboto;
  font-size: 85px;
  font-weight: 400;
  line-height: 93.5px;
}

.slider__title {
  color: var(--dark-color);
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 42.12px;
  text-align: left;
}

.slider__price {
  color: var(--dark-color);
  font-family: Roboto;
  font-size: 21px;
  font-weight: 400;
  line-height: 31.5px;
}

.products {
  margin: 74px 0 58px 0;
}

.products__content {
  display: flex;
  flex-direction: column;
}

.products__wrapper {
  display: flex;
  padding: 0 149px 0 123px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 58px;
}

.products__wrapper-icon {
  position: relative;
  width: 241px;
  height: 241px;
  background-color: var(--dark-color);
  border-radius: 50%;
  background-image: url("../../assets/image/Main/No.svg");
  background-repeat: no-repeat;
  background-position: 53% 48%;
}

.circle-icon {
  position: absolute;
  top: 5.5%;
  left: 5.5%;
  animation: circleText 20s infinite linear;
}

@keyframes circleText {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.products__wrapper-blocktext {
  max-width: 506px;
}

.blocktext__title {
  color: var(--dark-color);
  font-family: Roboto;
  font-size: 85px;
  font-weight: 700;
  line-height: 93.5px;
}
.blocktext__text {
  margin-top: 12px;
}

.swiper-wrapper {
  padding: 0 40px;
  display: flex;
}

.swiper-slide {
  position: relative;
  height: 660px;
  width: 360px;
  display: flex;
  flex-direction: column;
}

.slider__bg {
  position: relative;
  width: 360px;
  height: 526px;
  border-radius: 275px;
  background: #72a080;
  top: 0;
  left: 0;
}

.bg-slider_cocoa {
  background: #a95d50;
}

.bg-slider_butter {
  background: #abafd6;
}

.bg-slider_honey {
  background: #fecf6b;
}

.bg-slider_tahini {
  background: #9b51e0;
}

.bg-slider_def-tahini {
  background: #fecf6b;
}

.bg-slider_butter {
  background: #f6b8d3;
}

.bg-slider_high {
  background: #f84f5a;
}

.slider__bg img {
  position: absolute;
  width: 100%;
  top: 13%;
  left: 2%;
}

.slider__blocktext {
  position: absolute;
  bottom: -80px;
  left: 0;
  max-width: 333px;
}

.slider__title {
  margin-bottom: 3px;
}

.slider__price {
  margin-bottom: 16px;
}

.slider__btn {
  width: 182px;
  padding: 11px 47px;
  border-radius: 36px;
  background: var(--green-color);
  color: var(--dark-color);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
}

.btn-slider_cocoa {
  background: #a95d50;
}

.btn-slider_butter {
  background: #abafd6;
}

.btn-slider_honey {
  background: #fecf6b;
}

.btn-slider_tahini {
  background: #9b51e0;
}

.btn-slider_def-tahini {
  background: #fecf6b;
}

.btn-slider_butter {
  background: #f6b8d3;
}

.btn-slider_high {
  background: #f84f5a;
}

.item-m {
  margin: 143px 0;
}

.swiper {
  max-width: 1920px;
  height: 100%;
}

:root {
  --dark-color: #000000;
  --white-color: #ffffff;
  --bg-color: #ed7b49;
  --green-color: #72a080;
}

.menu__item a {
  color: var(--dark-color);
  font-weight: 400;
  line-height: 58.3333333333%;
  font-family: Roboto;
}

.wildWay__title p, .blocktext__text {
  color: var(--dark-color);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.hero__title, .blocktext__title h2 {
  color: var(--dark-color);
  font-family: Roboto;
  font-size: 85px;
  font-weight: 400;
  line-height: 93.5px;
}

.slider__title {
  color: var(--dark-color);
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 42.12px;
  text-align: left;
}

.slider__price {
  color: var(--dark-color);
  font-family: Roboto;
  font-size: 21px;
  font-weight: 400;
  line-height: 31.5px;
}

.wildWay {
  margin: 300px 0;
}

.wildWay__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wildWay__blocktext {
  display: flex;
  flex-direction: column;
  max-width: 354px;
}

.wildWay__title {
  color: var(--dark-color);
  font-family: Roboto;
  font-size: 85px;
  font-weight: 700;
  line-height: 93.5px;
  margin-bottom: 19px;
}
.wild-btn {
  color: var(--white-color);
  font-family: Roboto;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  padding: 0 64px;
  margin-top: 47px;
  background-color: var(--dark-color);
  max-width: 260px;
  border-radius: 32px;
}

.wildWay__image {
  position: relative;
  perspective: 700px;
  height: 700px;
  width: 600px;
  transform-style: preserve-3d;
}

.box-image {
  position: absolute;
  transition: 800ms ease-in-out;
}

.box-image:first-of-type {
  opacity: 1;
  left: 15%;
  z-index: 3;
}

.box-image:nth-of-type(2) {
  opacity: 1;
  left: 20%;
  z-index: 2;
  transform: translate(-25%, 0%);
}

.box-image:nth-of-type(3) {
  opacity: 1;
  left: 25%;
  z-index: 1;
  transform: translate(-10%, 0%);
}

:root {
  --dark-color: #000000;
  --white-color: #ffffff;
  --bg-color: #ed7b49;
  --green-color: #72a080;
}

.menu__item a {
  color: var(--dark-color);
  font-weight: 400;
  line-height: 58.3333333333%;
  font-family: Roboto;
}

.blocktext__text, .wildWay__title p {
  color: var(--dark-color);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.hero__title, .blocktext__title h2 {
  color: var(--dark-color);
  font-family: Roboto;
  font-size: 85px;
  font-weight: 400;
  line-height: 93.5px;
}

.slider__title {
  color: var(--dark-color);
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 42.12px;
  text-align: left;
}

.slider__price {
  color: var(--dark-color);
  font-family: Roboto;
  font-size: 21px;
  font-weight: 400;
  line-height: 31.5px;
}

:root {
  --dark-color: #000000;
  --white-color: #ffffff;
  --bg-color: #ed7b49;
  --green-color: #72a080;
}

.menu__item a {
  color: var(--dark-color);
  font-weight: 400;
  line-height: 58.3333333333%;
  font-family: Roboto;
}

.blocktext__text, .wildWay__title p {
  color: var(--dark-color);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.hero__title, .blocktext__title h2 {
  color: var(--dark-color);
  font-family: Roboto;
  font-size: 85px;
  font-weight: 400;
  line-height: 93.5px;
}

.slider__title {
  color: var(--dark-color);
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 42.12px;
  text-align: left;
}

.slider__price {
  color: var(--dark-color);
  font-family: Roboto;
  font-size: 21px;
  font-weight: 400;
  line-height: 31.5px;
}

[class*=__container] {
  max-width: 1470px;
  margin: 0 auto;
  padding: 0 15px;
}

[class*=_container] {
  max-width: 1140px;
  margin: 0 auto;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: var(--bg-color);
}

body {
  font-family: Roboto;
  font-size: 16px;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: orange;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(255, 0, 0);
  border-radius: 20px;
  border: 3px solid orange;
}

:root {
  --dark-color: #000000;
  --white-color: #ffffff;
  --bg-color: #ed7b49;
  --green-color: #72a080;
}

.menu__item a {
  color: var(--dark-color);
  font-weight: 400;
  line-height: 58.3333333333%;
  font-family: Roboto;
}

.blocktext__text, .wildWay__title p {
  color: var(--dark-color);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.hero__title, .blocktext__title h2 {
  color: var(--dark-color);
  font-family: Roboto;
  font-size: 85px;
  font-weight: 400;
  line-height: 93.5px;
}

.slider__title {
  color: var(--dark-color);
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 42.12px;
  text-align: left;
}

.slider__price {
  color: var(--dark-color);
  font-family: Roboto;
  font-size: 21px;
  font-weight: 400;
  line-height: 31.5px;
}