@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
:root {
  --dark-color: #000000;
  --white-color: #ffffff;
  --bg-color: #ed7b49;
}

.menu__item a {
  color: var(--dark-color);
  font-weight: 400;
  line-height: 58.3333333333%;
  font-family: Roboto;
}

.hero__title {
  color: var(--dark-color);
  font-family: Roboto;
  font-size: 85px;
  font-weight: 400;
  line-height: 93.5px;
}

.top-header {
  height: 46px;
  width: 100%;
  background-color: var(--dark-color);
}

.runnig-text {
  color: var(--white-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  padding: 11px 0;
}

.header {
  position: relative;
  background-image: url("../../assets/image/Main/Main-page.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
}

.header__content {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-left: -6%;
}

.header__ls, .header__rs {
  display: flex;
  flex: 1 1 415px;
  padding: 30px 26px 33px 16px;
}

.header__rs {
  flex: 0 1 325px;
  justify-content: flex-end;
}

.menu {
  display: flex;
  gap: 42px;
}

.menu__item a {
  text-transform: uppercase;
}

.logo-image {
  position: absolute;
  top: 31px;
  left: 46%;
}

@keyframes runningStroke {}
:root {
  --dark-color: #000000;
  --white-color: #ffffff;
  --bg-color: #ed7b49;
}

.menu__item a {
  color: var(--dark-color);
  font-weight: 400;
  line-height: 58.3333333333%;
  font-family: Roboto;
}

.hero__title {
  color: var(--dark-color);
  font-family: Roboto;
  font-size: 85px;
  font-weight: 400;
  line-height: 93.5px;
}

.hero {
  display: flex;
  justify-content: center;
  margin-top: 14vh;
}

.hero__button {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 50px;
  left: -10px;
  background-image: url("../../assets/image/Main/button.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 80px;
  cursor: pointer;
}

:root {
  --dark-color: #000000;
  --white-color: #ffffff;
  --bg-color: #ed7b49;
}

.menu__item a {
  color: var(--dark-color);
  font-weight: 400;
  line-height: 58.3333333333%;
  font-family: Roboto;
}

.hero__title {
  color: var(--dark-color);
  font-family: Roboto;
  font-size: 85px;
  font-weight: 400;
  line-height: 93.5px;
}

.products__content {
  display: flex;
  flex-direction: column;
}

.products__wrapper {
  display: flex;
}

.products__wrapper-icon {
  position: relative;
  width: 241px;
  height: 241px;
  background-color: var(--dark-color);
  border-radius: 50%;
  background-image: url("../../assets/image/Main/No.svg");
  background-repeat: no-repeat;
  background-position: 51% 48%;
}

.circle-icon {
  position: absolute;
  top: 5.5%;
  left: 5.5%;
  animation: circleText 20s infinite linear;
}

@keyframes circleText {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
:root {
  --dark-color: #000000;
  --white-color: #ffffff;
  --bg-color: #ed7b49;
}

.menu__item a {
  color: var(--dark-color);
  font-weight: 400;
  line-height: 58.3333333333%;
  font-family: Roboto;
}

.hero__title {
  color: var(--dark-color);
  font-family: Roboto;
  font-size: 85px;
  font-weight: 400;
  line-height: 93.5px;
}

[class*=__container] {
  max-width: 1470px;
  margin: 0 auto;
  padding: 0 15px;
}

[class*=_container] {
  max-width: 1140px;
  margin: 0 auto;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: var(--bg-color);
}

body {
  font-family: Roboto;
  font-size: 16px;
}

:root {
  --dark-color: #000000;
  --white-color: #ffffff;
  --bg-color: #ed7b49;
}

.menu__item a {
  color: var(--dark-color);
  font-weight: 400;
  line-height: 58.3333333333%;
  font-family: Roboto;
}

.hero__title {
  color: var(--dark-color);
  font-family: Roboto;
  font-size: 85px;
  font-weight: 400;
  line-height: 93.5px;
}