@import "../components/ui";

.footer {
	background-color: inherit;
	display: flex;
	flex-direction: column;
	padding-bottom: 57px;
}
.footer__content {
	display: flex;
	flex-direction: column;
	gap: 116px;
	padding: 133px 0px 70px 0px;
}
.footer__content-image {
	margin: 0 auto;
}
.footer__down-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
.footer-image-text-1 {
	width: 154px;
	max-height: 44px;
}
.footer-image-text-2 {
	width: 167px;
	max-height: 50px;
}
.footer-image-text-3 {
	width: 125px;
	max-height: 63px;
}
.footer__grid-block {
	display: grid;
	grid-template-columns: 475px repeat(2, 285px);
	grid-template-rows: 690px;
	gap: 45px;
}
.col-1 {
	padding: 0 15px;
}
.col-1 h2 {
	color: var(--dark-color);
	font-family: $ff1;
	font-size: 85px;
	font-weight: 700;
	line-height: 93.5px;
}
.email-input {
	margin-top: 21px;
	display: flex;
	width: 445px;
	height: 24px;
	color: var(--dark-color);
	font-family: $ff1;
	font-size: 22px;
	font-weight: 400;
	line-height: 18px;
	text-align: left;
	background-color: initial;
	border-bottom: 1px solid #000;
	padding-bottom: 6px;
	margin-bottom: 113px;
}
::-webkit-input-placeholder {
	color: var(--dark-color);
	font-family: $ff1;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}
.follow__block {
	display: flex;
	flex-direction: column;
	gap: 24px;
	margin-bottom: 60px;
}
.follow__block p {
	color: var(--dark-color);
	font-family: $ff1;
	font-size: 32px;
	font-weight: 400;
	line-height: 38.4px;
}
.icon-follow-block {
	display: flex;
	gap: 18px;
	margin: 0 auto 14px 0;
}
.icon-follow {
	width: 22px;
	height: 22px;
}
.copyright__pay {
	display: flex;
	flex-direction: column;
	& > div {
		margin-bottom: 20px;
	}
}
.pay-block a > img {
	width: 36px;
	height: 25px;
}
.copy__block-text {
	color: var(--dark-color);
	font-family: $ff1;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}
.col-2,
.col-3 {
	display: flex;
	flex-direction: column;
	gap: 81px;
}
.col-3_comp,
.col-3_help,
.col-2_prod {
	display: flex;
	flex-direction: column;
	gap: 21px;
}
.col-2_contact {
	display: flex;
	flex-direction: column;
}
.h3-col-2 {
	color: var(--dark-color);
	font-family: $ff1;
	font-size: 32px;
	font-weight: 700;
	line-height: 38.4px;
}
.col-2p-text a {
	color: var(--dark-color);
	font-family: $ff1;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
}
.col-2_contact > h3 {
	margin-bottom: 21px;
}
.col-2_contact > a {
	margin-top: 12px;
}
