@import "../components/ui";

.header {
	position: relative;
	background-image: url("../../assets/image/Main/Main-page.jpeg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 110vh;
}

.header__content {
	position: relative;
	display: flex;
	justify-content: space-between;
}
.header__ls {
	display: flex;
	flex: 1 1 415px;
	padding: 30px 26px 33px 16px;
}
.header__rs {
	@extend .header__ls;
	flex: 0 1 325px;
	justify-content: flex-end;
}

.menu {
	display: flex;
	gap: 42px;
}
.menu__item {
	a {
		@extend %default-text;
		text-transform: uppercase;
	}
}

.logo-image {
	position: absolute;
	top: 31px;
	left: 47%;
}
