@import "../components/ui";

.products {
	margin: 74px 0 58px 0;
}
.products__content {
	position: relative;
	display: flex;
	flex-direction: column;
}
.products__wrapper {
	display: flex;
	padding: 0 149px 0 123px;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 58px;
}
.products__wrapper-icon {
	position: relative;
	width: 241px;
	height: 241px;
	background-color: var(--dark-color);
	border-radius: 50%;
	background-image: url("../../assets/image/Main/No.svg");
	background-repeat: no-repeat;
	background-position: 53% 48%;
}
.circle-icon {
	position: absolute;
	top: 5.5%;
	left: 5.5%;
	animation: circleText 20s infinite linear;
}

@keyframes circleText {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.products__wrapper-blocktext {
	max-width: 506px;
}
.blocktext__title {
	h2 {
		@extend %large-text;
	}
	color: var(--dark-color);
	font-family: $ff1;
	font-size: 85px;
	font-weight: 700;
	line-height: 93.5px;
}
.blocktext__text {
	margin-top: 12px;
	@extend %small-text;
}
.swiper-wrapper {
	padding: 0 40px;
	display: flex;
}
.swiper-slide {
	position: relative;
	height: 660px;
	width: 360px;
	display: flex;
	flex-direction: column;
}
.slider__bg {
	position: relative;
	width: 360px;
	height: 526px;
	border-radius: 275px;
	background: #72a080;
	top: 0;
	left: 0;
}
.bg-slider_cocoa {
	background: #a95d50;
}
.bg-slider_butter {
	background: #abafd6;
}
.bg-slider_honey {
	background: #fecf6b;
}
.bg-slider_tahini {
	background: #9b51e0;
}
.bg-slider_def-tahini {
	background: #fecf6b;
}
.bg-slider_butter {
	background: #f6b8d3;
}
.bg-slider_high {
	background: #f84f5a;
}
.slider__bg img {
	position: absolute;
	width: 100%;
	top: 13%;
	left: 2%;
}
.slider__blocktext {
	position: absolute;
	bottom: -80px;
	left: 0;
	max-width: 333px;
}
.slider__title {
	@extend %products-text;
	margin-bottom: 3px;
}
.slider__price {
	@extend %products-price;
	margin-bottom: 16px;
}
.slider__btn {
	width: 182px;
	padding: 11px 47px;
	border-radius: 36px;
	background: var(--green-color);
	color: var(--dark-color);
	font-family: $ff1;
	font-size: 18px;
	font-weight: 400;
	line-height: 27px;
	text-align: center;
	text-transform: uppercase;
}
.btn-slider_cocoa {
	background: #a95d50;
}
.btn-slider_butter {
	background: #abafd6;
}
.btn-slider_honey {
	background: #fecf6b;
}
.btn-slider_tahini {
	background: #9b51e0;
}
.btn-slider_def-tahini {
	background: #fecf6b;
}
.btn-slider_butter {
	background: #f6b8d3;
}
.btn-slider_high {
	background: #f84f5a;
}
.item-m {
	margin: 143px 0;
}
.swiper {
	max-width: 1920px;
	height: 100%;
}
@media (max-width: 1038.98px) {
	.products__wrapper {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	.products__wrapper-blocktext {
		text-align: center;
	}
}
