@import "../components/ui";

.recipes {
	background: #f5afb9;
	padding: 0px 20px 333px 20px;
}
.recipes__content {
	display: flex;
	flex-direction: column;
}
.recipes__wrapper {
	position: relative;
	height: 166px;
}
.recipes__blocktext {
	position: absolute;
	left: 45%;
	max-width: 500px;
}
.recipes__title {
	color: var(--dark-color);
	font-family: $ff1;
	font-size: 85px;
	font-weight: 700;
	line-height: 93.5px;
	margin-bottom: 28px;
}
.recipes__text {
	color: var(--dark-color);
	font-family: $ff1;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}
.recipes__photoblock-colmns {
	display: flex;
	flex: 0 1 33.333%;
	justify-content: space-around;
}
.recipes__col {
	margin-top: 191px;
	height: 630px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.recipes__col img {
	width: 450px;
	height: 450px;
}
.recipes__col p {
	color: var(--dark-color);
	font-family: $ff1;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
	margin-top: 43px;
}
.recipes__col h3 {
	color: var(--dark-color);
	font-family: $ff1;
	font-size: 42px;
	font-weight: 700;
	line-height: 50.4px;
	margin-top: 16px;
	max-width: 338px;
}
