@import "../components/ui";

[class*="__container"] {
	max-width: 1470px;
	margin: 0 auto;
	padding: 0 15px;
}

[class*="_container"] {
	max-width: 1140px;
	margin: 0 auto;
}

.wrapper {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	background-color: var(--bg-color);
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: $ff1;
	font-size: 16px;
}

body::-webkit-scrollbar {
	width: 12px;
}
body::-webkit-scrollbar-track {
	background: orange;
}
body::-webkit-scrollbar-thumb {
	background-color: rgb(255, 0, 0);
	border-radius: 20px;
	border: 3px solid orange;
}
