// ПЕРЕМЕННЫЕ>

$minwidth: 320px;
$md1: 992.98px;
$md2: 767.98px;
$md3: 479.98px;
$ff1: Roboto;

:root {
	--dark-color: #000000;
	--white-color: #ffffff;
	--bg-color: #ed7b49;
	--green-color: #72a080;
}

%default-text {
	color: var(--dark-color);
	font-weight: 400;
	line-height: calc(14 / 24 * 100%);
	font-family: $ff1;
}

%small-text {
	color: var(--dark-color);
	font-family: $ff1;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}

%large-text {
	color: var(--dark-color);
	font-family: $ff1;
	font-size: 85px;
	font-weight: 400;
	line-height: 93.5px;
}

%products-text {
	color: var(--dark-color);
	font-family: $ff1;
	font-size: 36px;
	font-weight: 700;
	line-height: 42.12px;
	text-align: left;
}

%products-price {
	color: var(--dark-color);
	font-family: $ff1;
	font-size: 21px;
	font-weight: 400;
	line-height: 31.5px;
}

// Break-points

//$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
// $tablet: em(991.98); // Планшеты, некоторые мобильные устройства в горизонтальном положении
// $mobile: em(767.98); // Телефоны
// $mobileSmall: em(479.98); // Маленькие телефоны
